# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [100]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from datetime import datetime

from scipy.stats import linregress


#Get 2019 Data
CapitalBike201901 = "../UnzipRawFiles/2019/201901-capitalbikeshare-tripdata.csv"
CapitalBike201902 = "../UnzipRawFiles/2019/201902-capitalbikeshare-tripdata.csv"
CapitalBike201903 = "../UnzipRawFiles/2019/201903-capitalbikeshare-tripdata.csv"
CapitalBike201904 = "../UnzipRawFiles/2019/201904-capitalbikeshare-tripdata.csv"
CapitalBike201905 = "../UnzipRawFiles/2019/201905-capitalbikeshare-tripdata.csv"
CapitalBike201906 = "../UnzipRawFiles/2019/201906-capitalbikeshare-tripdata.csv"
CapitalBike201907 = "../UnzipRawFiles/2019/201907-capitalbikeshare-tripdata.csv"
CapitalBike201908 = "../UnzipRawFiles/2019/201908-capitalbikeshare-tripdata.csv"
CapitalBike201909 = "../UnzipRawFiles/2019/201909-capitalbikeshare-tripdata.csv"
CapitalBike201910 = "../UnzipRawFiles/2019/201910-capitalbikeshare-tripdata.csv"
CapitalBike201911 = "../UnzipRawFiles/2019/201911-capitalbikeshare-tripdata.csv"
CapitalBike201912 = "../UnzipRawFiles/2019/201912-capitalbikeshare-tripdata.csv"



CapitalBike201901_df = pd.read_csv(CapitalBike201901)
CapitalBike201902_df = pd.read_csv(CapitalBike201902)
CapitalBike201903_df = pd.read_csv(CapitalBike201903)
CapitalBike201904_df = pd.read_csv(CapitalBike201904)
CapitalBike201905_df = pd.read_csv(CapitalBike201905)
CapitalBike201906_df = pd.read_csv(CapitalBike201906)
CapitalBike201907_df = pd.read_csv(CapitalBike201907)
CapitalBike201908_df = pd.read_csv(CapitalBike201908)
CapitalBike201909_df = pd.read_csv(CapitalBike201909)
CapitalBike201910_df = pd.read_csv(CapitalBike201910)
CapitalBike201911_df = pd.read_csv(CapitalBike201911)
CapitalBike201912_df = pd.read_csv(CapitalBike201912)

In [101]:
CapitalBike201906_df.head()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,839,2019-06-01 00:00:04,2019-06-01 00:14:03,31245,7th & R St NW / Shaw Library,31508,Gallaudet / 8th St & Florida Ave NE,W23489,Member
1,389,2019-06-01 00:00:13,2019-06-01 00:06:43,31639,2nd & G St NE,31647,7th St & Massachusetts Ave NE,W00660,Member
2,270,2019-06-01 00:00:15,2019-06-01 00:04:46,31228,8th & H St NW,31266,11th & M St NW,W01010,Member
3,1029,2019-06-01 00:00:32,2019-06-01 00:17:41,31251,12th & L St NW,31508,Gallaudet / 8th St & Florida Ave NE,W01313,Member
4,892,2019-06-01 00:00:33,2019-06-01 00:15:25,31082,Eisenhower Ave & Mill Race Ln,31088,Mount Vernon Ave & Kennedy St,W00623,Member

In [102]:
combined_2019_df = pd.concat([CapitalBike201901_df, CapitalBike201902_df,CapitalBike201903_df,CapitalBike201904_df, CapitalBike201905_df, CapitalBike201906_df,CapitalBike201907_df,CapitalBike201908_df,CapitalBike201909_df,CapitalBike201910_df,CapitalBike201911_df,CapitalBike201912_df], ignore_index=True)

In [103]:
combined_2019_df.count()

Duration                3398417
Start date              3398417
End date                3398417
Start station number    3398417
Start station           3398417
End station number      3398417
End station             3398417
Bike number             3398403
Member type             3398417
dtype: int64

In [104]:
#cleanup
combined_2019_df.dropna(inplace = True)

In [105]:
combined_2019_df.count()

Duration                3398403
Start date              3398403
End date                3398403
Start station number    3398403
Start station           3398403
End station number      3398403
End station             3398403
Bike number             3398403
Member type             3398403
dtype: int64

In [106]:
combined_2019_df['DateTime'] =  pd.to_datetime(combined_2019_df['Start date'], format='%Y-%m-%d %H:%M:%S')
# extracting time from timestamp
combined_2019_df['Time'] = combined_2019_df['DateTime'].dt.strftime('%H:%M')
combined_2019_df['Month'] = combined_2019_df['DateTime'].dt.strftime('%b')
combined_2019_df['Date'] = combined_2019_df['DateTime'].dt.strftime('%x')
combined_2019_df.tail()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type,DateTime,Time,Month,Date
3398412,130,2019-12-31 23:57:36,2019-12-31 23:59:46,31011,Crystal Dr & 23rd St S,31009,Crystal Dr & 27th St S,W21285,Member,2019-12-31 23:57:36,23:57,Dec,12/31/19
3398413,664,2019-12-31 23:57:47,2020-01-01 00:08:51,31125,15th & W St NW,31281,8th & O St NW,W24197,Member,2019-12-31 23:57:47,23:57,Dec,12/31/19
3398414,389,2019-12-31 23:59:37,2020-01-01 00:06:06,31047,Braddock Rd Metro,31085,Mount Vernon Ave & E Nelson Ave,W21281,Member,2019-12-31 23:59:37,23:59,Dec,12/31/19
3398415,962,2019-12-31 23:59:38,2020-01-01 00:15:40,31236,37th & O St NW / Georgetown University,31214,17th & Corcoran St NW,W00534,Member,2019-12-31 23:59:38,23:59,Dec,12/31/19
3398416,183,2019-12-31 23:59:55,2020-01-01 00:02:58,31227,13th St & New York Ave NW,31254,15th & K St NW,W22782,Member,2019-12-31 23:59:55,23:59,Dec,12/31/19

In [108]:
combined_2019_df.head()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type,DateTime,Time,Month,Date
0,230,2019-01-01 00:04:48,2019-01-01 00:08:39,31203,14th & Rhode Island Ave NW,31200,Massachusetts Ave & Dupont Circle NW,E00141,Member,2019-01-01 00:04:48,00:04,Jan,01/01/19
1,1549,2019-01-01 00:06:37,2019-01-01 00:32:27,31321,15th St & Constitution Ave NW,31114,18th St & Wyoming Ave NW,W24067,Casual,2019-01-01 00:06:37,00:06,Jan,01/01/19
2,177,2019-01-01 00:08:46,2019-01-01 00:11:44,31104,Adams Mill & Columbia Rd NW,31323,Woodley Park Metro / Calvert St & Connecticut ...,W22654,Casual,2019-01-01 00:08:46,00:08,Jan,01/01/19
3,228,2019-01-01 00:08:47,2019-01-01 00:12:35,31281,8th & O St NW,31280,11th & S St NW,W22336,Member,2019-01-01 00:08:47,00:08,Jan,01/01/19
4,1300,2019-01-01 00:12:29,2019-01-01 00:34:10,31014,Lynn & 19th St North,31923,Columbia Pike & S Taylor St,70004,Member,2019-01-01 00:12:29,00:12,Jan,01/01/19

In [117]:
#get 2020 data
CapitalBike202001 = "../UnzipRawFiles/2020/202001-capitalbikeshare-tripdata.csv"
CapitalBike202002 = "../UnzipRawFiles/2020/202002-capitalbikeshare-tripdata.csv"
CapitalBike202003 = "../UnzipRawFiles/2020/202003-capitalbikeshare-tripdata.csv"
CapitalBike202005 = "../UnzipRawFiles/2020/202005-capitalbikeshare-tripdata.csv"
CapitalBike202006 = "../UnzipRawFiles/2020/202006-capitalbikeshare-tripdata.csv"
CapitalBike202007 = "../UnzipRawFiles/2020/202007-capitalbikeshare-tripdata.csv"
CapitalBike202008 = "../UnzipRawFiles/2020/202008-capitalbikeshare-tripdata.csv"
CapitalBike202009 = "../UnzipRawFiles/2020/202009-capitalbikeshare-tripdata.csv"
CapitalBike202010 = "../UnzipRawFiles/2020/202010-capitalbikeshare-tripdata.csv"
CapitalBike202011 = "../UnzipRawFiles/2020/202011-capitalbikeshare-tripdata.csv"
CapitalBike202012 = "../UnzipRawFiles/2020/202012-capitalbikeshare-tripdata.csv"


CapitalBike202001_df = pd.read_csv(CapitalBike202001)
CapitalBike202002_df = pd.read_csv(CapitalBike202002)
CapitalBike202003_df = pd.read_csv(CapitalBike202003)
CapitalBike202005_df = pd.read_csv(CapitalBike202005)
CapitalBike202006_df = pd.read_csv(CapitalBike202006)
CapitalBike202007_df = pd.read_csv(CapitalBike202007)
CapitalBike202008_df = pd.read_csv(CapitalBike202008)
CapitalBike202009_df = pd.read_csv(CapitalBike202009)
CapitalBike202010_df = pd.read_csv(CapitalBike202010)
CapitalBike202011_df = pd.read_csv(CapitalBike202011)
CapitalBike202012_df = pd.read_csv(CapitalBike202012)

In [131]:
#combine data
combined_2020_df = pd.concat([CapitalBike202001_df, CapitalBike202002_df,CapitalBike202003_df, CapitalBike202005_df, CapitalBike202006_df,CapitalBike202007_df,CapitalBike202008_df,CapitalBike202009_df,CapitalBike202010_df,CapitalBike202011_df,CapitalBike202012_df], ignore_index=True)
#get columns that are needed
combined_2020_NeededColumns_df = combined_2020_df[["Duration", "Start date","End date","Start station number","Start station","End station number","End station","Bike number","Member type"]]

In [132]:
combined_2020_NeededColumns_df.count()

Duration                537400
Start date              537400
End date                537400
Start station number    537400
Start station           537400
End station number      537400
End station             537400
Bike number             537400
Member type             537400
dtype: int64

In [133]:
#combined_2020_NeededColumns_df.dropna(inplace = True)
#No clean up needed as count matches
combined_2020_NeededColumns_df.dropna(how='all')

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,506.0,2020-01-01 00:00:59,2020-01-01 00:09:26,31623.0,Columbus Circle / Union Station,31658.0,Rosedale Rec Center,W22189,Member
1,1050.0,2020-01-01 00:01:16,2020-01-01 00:18:47,31613.0,Eastern Market Metro / Pennsylvania Ave & 7th ...,31606.0,Potomac & Pennsylvania Ave SE,W21067,Member
2,1687.0,2020-01-01 00:02:42,2020-01-01 00:30:50,31218.0,L'Enfant Plaza / 7th & C St SW,31271.0,Constitution Ave & 2nd St NW/DOL,W24359,Member
3,182.0,2020-01-01 00:02:44,2020-01-01 00:05:47,31627.0,3rd & M St NE,31508.0,Gallaudet / 8th St & Florida Ave NE,W23334,Member
4,1002.0,2020-01-01 00:06:12,2020-01-01 00:22:54,31247.0,Jefferson Dr & 14th St SW,31274.0,10th & G St NW,W23441,Member
...,...,...,...,...,...,...,...,...,...
537395,673.0,2020-03-31 23:17:58,2020-03-31 23:29:12,31235.0,19th St & Constitution Ave NW,31265.0,5th St & Massachusetts Ave NW,W22920,Member
537396,514.0,2020-03-31 23:18:13,2020-03-31 23:26:47,31203.0,14th & Rhode Island Ave NW,31324.0,18th & New Hampshire Ave NW,21054,Member
537397,1524.0,2020-03-31 23:29:00,2020-03-31 23:54:25,31110.0,20th St & Florida Ave NW,31403.0,5th & Kennedy St NW,W24341,Member
537398,565.0,2020-03-31 23:41:17,2020-03-31 23:50:43,31603.0,1st & M St NE,31256.0,10th & E St NW,W22691,Member
537399,1054.0,2020-03-31 23:45:05,2020-04-01 00:02:40,31325.0,Reservoir Rd & 38th St NW,31214.0,17th & Corcoran St NW,W24051,Member

In [134]:
combined_2020_NeededColumns_df.count()

Duration                537400
Start date              537400
End date                537400
Start station number    537400
Start station           537400
End station number      537400
End station             537400
Bike number             537400
Member type             537400
dtype: int64

In [135]:
#Cleanup and create data
combined_2020_NeededColumns_df['DateTime'] =  pd.to_datetime(combined_2020_NeededColumns_df['Start date'], format='%Y-%m-%d %H:%M:%S')
# extracting time from timestamp
combined_2020_NeededColumns_df['Time'] = combined_2020_NeededColumns_df['DateTime'].dt.strftime('%H:%M')
combined_2020_NeededColumns_df['Month'] = combined_2020_NeededColumns_df['DateTime'].dt.strftime('%b')
combined_2020_NeededColumns_df['Date'] = combined_2020_NeededColumns_df['DateTime'].dt.strftime('%x')
combined_2020_NeededColumns_df.tail()

C:\Users\digan\.conda\envs\pythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\digan\.conda\envs\pythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\digan\.conda\envs\pythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\digan\.conda\envs\pythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type,DateTime,Time,Month,Date
2141438,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
2141439,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
2141440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
2141441,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
2141442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN

In [136]:
combined_2020_NeededColumns_df.head()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type,DateTime,Time,Month,Date
0,506.0,2020-01-01 00:00:59,2020-01-01 00:09:26,31623.0,Columbus Circle / Union Station,31658.0,Rosedale Rec Center,W22189,Member,2020-01-01 00:00:59,00:00,Jan,01/01/20
1,1050.0,2020-01-01 00:01:16,2020-01-01 00:18:47,31613.0,Eastern Market Metro / Pennsylvania Ave & 7th ...,31606.0,Potomac & Pennsylvania Ave SE,W21067,Member,2020-01-01 00:01:16,00:01,Jan,01/01/20
2,1687.0,2020-01-01 00:02:42,2020-01-01 00:30:50,31218.0,L'Enfant Plaza / 7th & C St SW,31271.0,Constitution Ave & 2nd St NW/DOL,W24359,Member,2020-01-01 00:02:42,00:02,Jan,01/01/20
3,182.0,2020-01-01 00:02:44,2020-01-01 00:05:47,31627.0,3rd & M St NE,31508.0,Gallaudet / 8th St & Florida Ave NE,W23334,Member,2020-01-01 00:02:44,00:02,Jan,01/01/20
4,1002.0,2020-01-01 00:06:12,2020-01-01 00:22:54,31247.0,Jefferson Dr & 14th St SW,31274.0,10th & G St NW,W23441,Member,2020-01-01 00:06:12,00:06,Jan,01/01/20